<div class="container__small-card">

  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img
         src="https://www.crunchyroll.com/imgsrv/display/thumbnail/1200x675/catalog/crunchyroll/21907feaa299ecdc23d6e64e59b45002.jpe"
         alt=""
         srcset=""
      >
    </div>

         <div class="small-card__title">
          <h1><a href="#">Títulos e informações que agregam a imagem</a></h1>
        </div>
    </div>
    <div class="container__small-card__separator">
      <hr>
    </div>
  </div>






